<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="utf-8" />
    <link href="./stylesheets/main.css" rel="stylesheet" type="text/css">
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="app.js"></script>

    <meta charset="UTF-8">
    <title>Graphgame</title>
</head>
<body ng-controller="MainCtrl">

<div id="wrapper">
    <div id="div_start" ng-hide="!showStartScreen()">
        <button ng-click="newGame()" ng-hide="!ready">Start Game</button>
    </div>

    <div id="div_game" ng-controller="GameCtrl" ng-hide="!showGameScreen()">

        <div id="div_title">
        </div>

        <div id="div_controls" class="menu_ul">
            <levelselector></levelselector>
        </div>

        <div id="div_level" ng-controller="LevelCtrl" ng-show="gameState.activeLevel">
            <div id="div_levelcontrols" class="menu_ul">

                <ul id="ul_levels">
                    <li ng-repeat="move in moves track by $index">
                        <span
                            ng-click="selectMove(move)"
                            ng-class="getMoveClasses(move)">
                            [{{move.state}}]
                        </span>
                    </li>
                    <li ng-click="play()" class="play"> Propagate!</li>

                </ul>

            </div>

            <div id="div_graph" >
                <div id="won" ng-hide="!won">
                    Yea!
                </div>
                <levelrenderer style="width:100%;height:100%"></levelrenderer>
            </div>
            <div id="div_message">
                {{ gameState.activeLevel.message }}
            </div>

        </div>
        <div id="div_footer">
            (C) 2015 blablabla
        </div>
    </div>

</div>
</body>
</html>
