html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

#wrapper{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

#div_game{
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

#div_graph{
    flex: 1 1 auto;
    display: flex;
}


#div_title {
  flex: 0 1 auto;
}

#div_controls {
  flex: 0 1 50px;
  background-color: #EEEEEE;
}

#div_level {
    flex-flow: column;
    display: flex;
    flex: 1 1 auto;
}


#div_message {
    display: flex;
    flex: 0 1 30px;
}
#div_footer {
    display: flex;
    flex: 0 1 30px;
}

.play {
    color: #FFFFFF;
}

.activeLevel {
    background-color:#FF0000;
}

.inactiveLevel {
    background-color:#FFFFFF;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}



.menu_ul ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

.menu_ul ul li { display: inline; }

.menu_ul ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

.menu_ul ul li a:hover
{
color: #fff;
background-color: #369;
}

.selectedControl {
  color:#F00;
}

.invisible {
    visibility: hidden;
}
.selectedMove {
    font-weight: bold;
}
