<ul id="ul_levels" ng-hide="!ready">
    <li>Levels:</li>
    <li ng-repeat="level in gameData.data.levels"
        ng-if="gameState.levelsState[level.id].visible">
        <span
            ng-class="{'activeLevel': level.id === gameState.activeLevelIndex}"
            ng-click="runLevel($index)">
            {{ level.id + 1}}
        </span>
    </li>
</ul>
